{% extends 'index.html'%}
{% block body%}

<div class=" jumbotron text-center">
  <main role="main" class="inner cove">
    <h1 class="cover-heading">Auto Speach Net</h1>
    <div class="row">
      <div class="column" style="width: 35%;">
        <b style="text-align: right;  color:rgb(63, 3, 11); font-size:17px;">Comanda vocala-><br>"ex.curs biologie"</b>
      </div>
      <div class="column" style="width: 65%;">
        <img height="100%" width="100%" style="margin-top: -7px; z-index:-1;" src="static/youtube2.png" />
      </div>
    </div>
    <b>Rezultatele vor fi afisate si redate vocal</b>
    <form method="POST" action="" enctype=multipart/form-data>
      <button id="comanda_1" type="submit" name="comanda_1" value='ComandaVocala1'>
        <img onmouseover="hover(this);" onmouseout="unhover(this);" height="100%" src="static/youtube1.jpg" />
      </button>
    </form>

    <b style="text-align: right;  color:rgb(63, 3, 11); font-size:17px;">{{errorcomandaVocala}}</b>
    <br><b id="inregistrare" style="text-align: right;  color:rgb(63, 3, 11); font-size:17px;"></b><br>
    <div class="card text-white  bg-dark mb-3">
      <div class="card-header">
        <p class="lead">
          <button class="btn btn-lg btn-secondary" onclick="citeste()" id="myBtn">Citeste mai mult</button>
          <div  id="citeste" style="display:inline">
            <h1>Descriere proiect </h1>       
            <p>Cursant
            <b>Seciu Octavian Luchian</b></p>
            <p>Trainer curs Python
            <b>RAREȘ POP</b></p>
            </div>
        </p>

        <div id="myDIV" style="visibility: hidden; height: 0px;"> {% include 'citeste.html'%}

        <img height="55px" width="100%" style="margin-top: -7px; z-index:-1;" src="static/images1.jpg" />
      </div>
    </div>
  </main>
</div>

<script>
  function hover(element) {
    element.setAttribute('src', 'static/youtube3.jpg');
  }
  function unhover(element) {
    element.setAttribute('src', 'static/youtube1.jpg');
  }

  document.getElementById("comanda_1").onclick = displayDate;
  function displayDate() {
    document.getElementById("inregistrare").innerHTML = 'Asteapta 3 sec si comanda vocal';
  }

  function citeste() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Citeste mai mult";
      moreText.style.display = "none";
      document.getElementById("citeste").style.display = "none";


    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Minimalizeaza";
      moreText.style.display = "inline";
      document.getElementById("myDIV").style.visibility = "visible";
      document.getElementById("myDIV").style.height = "auto";
      document.getElementById("citeste").style.display = "none";

    }
  }
</script>
{% endblock%}